<h1> Add a Comment about <%= @comment.job.title %> - <%= @comment.job.company.name %> </h1>


<%= form_for(@comment) do |f| %>

  <%= f.label :content %>
  <%= f.text_area :content %>
  <br>
  <br>
  <%= f.hidden_field :job_id %>
  <br>
  <br>
  <%= f.submit "Add a Comment" %>

<% end %>

<%= render 'layouts/nav_logged_in' %>
