<h1> Add a Job </h1>
<h2> Add details about a job below. </h2>


<%= form_for(@job) do |f| %>
    <p> Select a company from the list. </p>
  <div>
  <%= f.collection_select :company_id, Company.all, :id, :name %>
   <br>
  <br>
    <div>
  
  <%= f.label :level %>
  <%= f.text_field :level %>
  <br>
  <br>
  <%= f.label :link %>
  <%= f.text_field :link %>
  <br>
  <br>
  <%= f.submit "Add a Job" %>
<% end %>