<h1> Job Details </h1>


<h2>Here are more details about the job you selected. </h2>
<br>
<h3>Company: <%= @job.company.name%></h3>
<h3>Title: <%= @job.title %> </h3>
<h3>Level: <%= @job.level %> </h3>
<h3>Link: <%= @job.link %> </h3>
<%= link_to "Edit Job Details", edit_job_path if session[:user_id].present? %>
<%= link_to "See Comments", comment_path(@job) %>
<%= link_to "See Comments About This Job", job_comments_path(@job) %>
<%= link_to "Add a Comment", new_job_comment_path(@job) %>








